.navbarLogo {
  width: 150px;
  margin-bottom: -20px;

}

.home {
  color: white;
  margin-bottom: 200px;
  margin-top: 50px;
  padding-top: 30px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8beYe96tG2hl98eTHtmCzTejvKVt89EZFjLVphH9BnHqmNmXC");

}

.home2 {
  margin-left: 100px;
}

.service {

  width: 800px;
  /* Set the width to your desired size */
  height: 200px;
  /* Set the height to your desired size */
  padding: 50px;
  /* Optional: Add padding for better appearance */
  margin-left: 100px;
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
  color: blue
}

.service-name {
  height: 40px;
  margin-top: -10px;
  margin-left: 520px;
}

.service-email {
  height: 40px;
  margin-top: -50px;
  margin-left: -1px;
}

.requestbtn {
  margin-bottom: 200px;
  height: 40px;
  background-color: lightblue;
  font-weight: bold;
  margin-left: 710px;


}

.about {
  margin-bottom: 200px;
}

.aboutlogo {
  width: 560px;
  height: 427px;
}

.aboutheader {
  margin-bottom: 00px;
  margin-left: 600px;
}

.contact {
  margin-top: 600px;
}

.navbar {
  margin-left: 400px;
  margin-top: -70px;
}



.yelp {
  width: 150px;

}

.yelp-text {}

.yelp-text2 {}

.google {
  width: 150px;

}

.arrow {
  margin-top: 1px;
}

.quote {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 100px;


}

.messagebtn {
  justify-content: right;
  margin-left: 700px;

}

.messageInput {

  height: 250px;


}

.contact {

  background-color: lightgray;
  font-weight: 700;
}