/* updated responsive for home.js */
body {
    margin: 0 auto;
}

.navbar {
  position: fixed;
  display: flex;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  height: 8vh;
}
.nav-compensation{
  height: 6vh;
  width: 99vw;
}

.navbarLogo {
  height: 8vh;
}

.navLinks {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin: 0 2vw;
  font-size: 2vw;
}

.nav-link:hover {
  color: blue;
}

.phone-number {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
}




/* home component */

.home-img {
  width: 100vw;
  opacity: 0.9;
}

.home {
    position: static;
    display: flex;
    flex-direction: column;
    transform: translate(0, -4500%);
    z-index: 10000;
    font-size: 32px;
    margin-left: 7vw;
    height: 1vh;
}
.header1, .header2 {
    color: white;
    margin: 0.5vh 0;

}

.provide-txt, .provide-txt2 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.quote {
    transform: translate(0, -350%);
    margin-left: 7vw;
    width: 12vw;
    height: 6vh;
    background-color: #4175FC;
    color: white;
    font-size: medium;
    font-weight: bolder;
    border-radius: 1vh;
    position: relative;
    bottom: -6vh;
}

/* About css */
.about2{
  margin-top: -43vh;
 margin-left: 50vw;
 font-size: larger;
 
}
.aboutlogo {
  width: 30vw;
  height: 40vh;
  margin-left: 15vw;


}

.aboutPic {
  margin-bottom: -30vh;
  margin-left: -24.3vw;

}

.aboutUsHeader{
color:#0076FF;
margin-bottom: -2vh;
font-size: large;
font-weight: 100px;
}

.systemHeader{
 margin-top: -2vh;

}

.about-text{
  margin-top: -1vh;
  line-height: 30px;
  width: 50%;
  font-size: medium;
 
}

.about-text2{
  line-height: 30px;
  width: 50%;
  font-size: medium;
}

.about-text3 {
  line-height: 30px;
  width: 50%;
  font-size: medium;
}

.callUs {
  background-color: #0076FF;
  color: white;
  width: 8vw;
  height: 5vh;
  border-radius: 5px;
  font-weight: bold;
}













/* Media query for smaller screens */
@media screen and (max-width: 1400px) {
    .navbar {
      height: 6vh;
    }
    
    .navbarLogo {
      height: 6vh;
    }
    
    .nav-link {
      font-size: 3vw;
      margin: 0 1vw;
    }


  .home-img {
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }
.home{
  position: relative;
  top: -8vh;
}
    .header1{
      position: relative;
      bottom: -22vh;
      
      }
      
      .header2{
        position: relative;
        top: 22vh;
      
      }
      .provide-txt{
        position: relative;
        bottom: -23vh;
        font-size: 10px;
      
      }
      .provide-txt2{
        position: relative;
        bottom: -23vh;
        font-size: 15px;
      
      }
      .quote{
        position: relative;
        bottom: -1rem;
        width: 20%;
        height: 100%;
      }
  }





/* media query for mobile devices */
@media screen and (max-width: 500px) {
  /* home css */
  .quote {
    width: 15vw !important;
    height: 3vh !important;
    position: relative;
    bottom: -1vh;
    font-size: 5px !important;
    font-weight: bolder;
    
  }
  .home {
    top: -25vh;
    left: 0;
    font-size: xx-small;
    margin-left: 5vw;
  }

  .header1 {
    bottom: -1vh;
  }

  .header2 {
    top: -2vh;
  }

  .provide-txt {
    font-size: xx-small;
    position: relative;
    bottom: -2vh;
  }

  .provide-txt2 {
    font-size: xx-small;
    position: relative;
    bottom: -1vh;
  }
  .home-img {
    opacity: 0.8;
    width: 100%;
    height: 100%; 
  }

/* about css */
.about{
 justify-content: center;
}
  .about2{
   font-size: larger;
   margin-top: 25vh;
   width: 100%;
   margin-left: 5vw;

   
  }
  .aboutlogo {
    width: 85vw;
    height: 40vh;
    text-align: center;
  
  
  }
  
  .aboutPic {
  margin-top: 2vh;
  width: 101vw;
  height: 40vh;

  }
  
  .aboutUsHeader{
  color:#0076FF;
  
  font-size: large;
  font-weight: 100px;
  }
  .networkHeader{
    margin-bottom: -1vh;
  }
  .systemHeader{
  margin-top: 1vh;
  
  }
  
  .about-text{
   
    line-height: 30px;
    width: 80%;
    font-size: medium;
    
   
  }
  
  .about-text2{
    line-height: 30px;
    width: 80%;
    font-size: medium;
  }
  
  .about-text3 {
    line-height: 30px;
    width: 80%;
    font-size: medium;
  }
  
  .callUs {
    background-color: #0076FF;
    color: white;
    width: 50vw;
    height: 8vh;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 15vw;
  }
  
}



@media screen and (max-width: 915px) {
  .home{
    position: relative;
    top: -0.1vh;
  }

.header1{
position: relative;
bottom: -22vh;
font-size: 20px;
}

.header2{
  position: relative;
  top: 22vh;
  font-size: 20px;
}
.provide-txt{
  position: relative;
  bottom: -23vh;
  font: 15px;

}
.provide-txt2{
  position: relative;
  bottom: -23vh;
  font-size: 10px;

}

}





















/* .networkHeader {
    position: relative;
    left: 200px;
    top: -30px;
}   */


/* separate code */
/* .service-box {
    position: relative;
    background-color: black;
    width: 1430px;
    height: 800px;
    inline-size: auto;
    top: -530px;
  
  
  
  } */

/* .service-image1 {
    position: relative;
    left: 100px;
    top: -1800px;
    width: 400px;
    height: 250px;
    inline-size: auto;
  
  }
  
  .service-image2 {
    position: relative;
    left: 120px;
    top: -1800px;
    width: 400px;
    height: 250px;
    inline-size: auto;
  
  }
  
  .service-image3 {
    position: relative;
    left: 140px;
    top: -1800px;
    width: 400px;
    height: 250px;
    inline-size: auto;
  
  }
  
  .header-service {
    color: #084AF3;
    position: relative;
    bottom: -100px;
    left: 600px;
    inline-size: auto;
  
  }
  
  
  
  
  .business {
    background-color: #0076FF;
    position: relative;
    top: -1460px;
    left: 100px;
    width: 300px;
    height: 150px;
    color: white;
    flex-wrap: initial;
    flex-direction: initial;
    flex-wrap: initial;
    flex-direction: initial;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
  }
  
  .client {
    position: relative;
    left: 400px;
    top: -1630px;
    width: 300px;
    height: 150px;
    background-color: #F3F5F5;
    color: black;
    flex-wrap: initial;
    flex-direction: initial;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
  
  
  }
  
  .project {
    position: relative;
    top: -1800px;
    left: 700px;
    background-color: black;
    width: 300px;
    height: 150px;
    color: white;
    flex-wrap: initial;
    flex-direction: initial;
    flex-wrap: initial;
    flex-direction: initial;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
  }
  
  .staff {
    position: relative;
    left: 1000px;
    top: -1970px;
    background-color: #0076FF;
    width: 300px;
    height: 150px;
    color: white;
    flex-wrap: wrap;
    flex-wrap: initial;
    flex-direction: initial;
    --flex-direction: initial;
    --flex-wrap: initial;
    --justify-content: initial;
    --align-items: initial;
    --align-content: initial;
    --gap: initial;
    --flex-basis: initial;
    --flex-grow: initial;
    --flex-shrink: initial;
    --order: initial;
    --align-self: initial;
    flex-basis: var(--flex-basis);
    flex-grow: var(--flex-grow);
    flex-shrink: var(--flex-shrink);
    order: var(--order);
    align-self: var(--align-self);
  }
  
  .cable {
    color: #ffffff;
    position: relative;
    top: -2250px;
    left: 100px;
    word-wrap: break-word;
    inline-size: 400px;
    line-height: 2;
    font-size: medium;
  
  
  
  }
  
  .cable-header {
    color: #00ffff;
    position: relative;
    top: -2240px;
    left: 100px;
    font-weight: bolder;
  }
  
  .structure-header {
    color: #00ffff;
    position: relative;
    top: -2020px;
    left: 510px;
    font-weight: bolder;
  
  }
  
  .organize {
    line-height: 2;
    font-size: medium;
    inline-size: 400px;
    position: relative;
    top: -2030px;
    left: 510px;
    color: white;
  }
  
  .network-header {
    color: #00ffff;
    position: relative;
    top: -1800px;
    left: 920px;
  
  
  }
  
  .team {
    position: relative;
    top: -1810px;
    left: 920px;
    color: #ffffff;
    font-size: medium;
    inline-size: 400px;
    line-height: 2;
  }
  
  .testimonial {
    position: relative;
    top: -2150px;
    height: 170px;
    background-color: #F3F5F5;
  }
  
  .yelp {
    width: 75px;
    position: relative;
    left: 550px;
    top: -30px;
  
  }
  
  .review {
    color: #0076FF;
    position: relative;
    top: 60px;
    left: 50px;
  
  
  }
  
  .climbing {
    color: #0076FF;
    position: relative;
    top: 50px;
    left: 50px;
  }
  
  .yelp-text {
    position: relative;
    left: 650px;
    top: -120px;
    font-weight: bolder;
  }
  
  .yelp-text2 {
    position: relative;
    left: 650px;
    top: -130px;
  
  }
  
  .google {
    width: 75px;
    position: relative;
    left: 850px;
    top: -250px;
  
  }
  
  .google2 {
    position: relative;
    left: 1050px;
    top: -200px;
    font-weight: bolder;
  }
  
  .google3 {
  
    position: relative;
    left: 1050px;
    top: -265px;
  }
  
  
  
  
  .messageInput {
  
    height: 250px;
  
  
  }
  
  
\
  
 
  
  
  .review-header {
    position: relative;
    left: 600px;
    top: -150px;
    font-weight: bolder;
  }
  
  .review-image1 {
    width: 100px;
    border-radius: 100px;
    position: relative;
    left: 150px;
    bottom: -25px;
  }
  
  .review-image2 {
    width: 100px;
    border-radius: 100px;
    position: relative;
    left: 150px;
    bottom: -25px;
  }
  
  .review-image3 {
    width: 100px;
    border-radius: 100px;
    position: relative;
    left: 150px;
    bottom: -25px;
  }
  
  .review1 {
    background-color: #F3F5F5;
    width: 400px;
    height: 500px;
    position: relative;
    left: 100px;
    top: -100px;
  
  }
  
  .review2 {
    position: relative;
    left: 520px;
    top: -600px;
    background-color: #F3F5F5;
    width: 400px;
    height: 500px;
  }
  
  .review3 {
    position: relative;
    left: 940px;
    top: -1100px;
    width: 400px;
    height: 500px;
    background-color: #F3F5F5;
  
  }
  
  .star {
    position: relative;
    left: 143px;
    bottom: -20px;
    color: #4175FC;
  
  
  }
  
  .star2 {
    position: relative;
    left: 143px;
    bottom: -20px;
    color: #4175FC;
  
  }
  
  .star3 {
    position: relative;
    left: 143px;
    bottom: -20px;
    color: #4175FC;
  
  }
  
  .review-header1 {
    position: relative;
    left: 150px;
    bottom: -15px;
    left: 165px;
  
  }
  
  .dl1 {
    position: relative;
    left: 185px;
    bottom: -20px;
    font-weight: bold;
    font-size: larger;
  }
  
  .review1-text {
    position: relative;
    bottom: -20px;
    left: 60px;
    line-height: 30px;
    inline-size: 1px;
    word-wrap: initial;
    width: 290px;
  
  }
  
  
  .dl2 {
    position: relative;
    left: 185px;
    bottom: -20px;
    font-weight: bold;
    font-size: larger;
  }
  
  .review-header2 {
    position: relative;
    left: 150px;
    bottom: -15px;
    left: 165px;
  }
  
  .review2-text {
    position: relative;
    bottom: -20px;
    left: 60px;
    line-height: 30px;
    inline-size: 1px;
    word-wrap: initial;
    width: 290px;
  
  }
  
  .dl3 {
    position: relative;
    left: 185px;
    bottom: -20px;
    font-weight: bold;
    font-size: larger;
  }
  
  .review-header3 {
    position: relative;
    left: 150px;
    bottom: -15px;
    left: 165px;
  }
  
  .review3-text {
    position: relative;
    bottom: -20px;
    left: 60px;
    line-height: 30px;
    inline-size: 1px;
    word-wrap: initial;
    width: 290px;
  
  }
  
  
  .contact {
    position: relative;
    top: -1380px;
    background-color: #F3F5F5;
    font-weight: 700;
    width: 1450px;
    height: 980px;
  
  }
  
  .contact-header {
    position: relative;
    left: 400px;
    bottom: -70px;
  }
  
  .contact-subheader {
    position: relative;
    left: 350px;
    bottom: -70px;
    font-weight: normal;
  }
  
  
  
  .contact1 {
    position: relative;
    left: 22rem;
    bottom: -7rem;
  }
  
  .firstname-input {
    width: 350px;
    height: 40px;
    font-weight: lighter;
  }
  
  .contact2 {
    position: relative;
    left: 47rem;
    bottom: -4rem;
    
  }
  
  .lastname-input {
    width: 350px;
    height: 40px;
    font-weight: lighter;
  }
  
  .email-input {
    width: 350px;
    height: 40px;
    font-weight: lighter;
  }
  
  .contact3 {
    position: relative;
    bottom: -10rem;
    left: 22rem;
  
  }
  
  .contact4 {
   position: relative;
   bottom: -7rem;
   left: 47rem;
  }
  
  .phone-input {
    width: 350px;
    height: 40px;
    font-weight: lighter;
  }
  
  .contact5 {
    position: relative;
    bottom: -13rem;
    left: 38rem;
  
  }
  
  .contact5-header {
    position: relative;
    left: -250px;
  
  }
  
  .message-input {
    position: relative;
    left: -250px;
    width: 720px;
    height: 120px;
  
  }
  
  .contactbtn {
    position: relative;
    left: 22rem;
    bottom: -20rem;
    background-color: #4175FC;
    color: #ffffff;
    width: 50%;
    height: 2.5rem;
    border-radius: 5px;
  
  
  }
  
  .copyright {
    background-color: black;
    color: white;
    position: relative;
    bottom: -400px;
    height: 250px;
  }
  
  .visit-header {
    color: #00ffff;
    position: relative;
    left: 650px;
    bottom: 90px;
    font-weight: 400px;
  }
  
  .hour-header {
    color: #00ffff;
    position: relative;
    left: 1100px;
    top: -100px;
    font-weight: 400px;
  }
  
  .black-logo {
    width: 120px;
    height: 50px;
    position: relative;
    bottom: -50px;
    left: 100px;
  }
  
  .commercial-txt {
    position: relative;
    bottom: -70px;
    left: 100px;
    font-weight: lighter;
  }
  
  .commercial-txt2 {
    position: relative;
    bottom: -60px;
    left: 100px;
    font-weight: lighter;
  }
  
  .commercial-txt3 {
    position: relative;
    bottom: -50px;
    left: 100px;
    font-weight: lighter;
  }
  
  .address-txt {
    position: relative;
    left: 650px;
    top: -80px;
    font-weight: lighter;
  
  
  }
  
  .address-txt2 {
    position: relative;
    left: 650px;
    top: -90px;
    font-weight: lighter;
  }
  
  .address-txt3 {
    position: relative;
    left: 650px;
    top: -100px;
    font-weight: lighter;
  }
  
  .hour-txt {
    position: relative;
    top: -210px;
    left: 1100px;
    font-weight: lighter;
  }
  
  .hour-txt2 {
    position: relative;
    left: 1100px;
    top: -220px;
    font-weight: lighter;
  }
  
  .hour-txt3 {
    position: relative;
    top: -230px;
    left: 1100px;
    font-weight: lighter;
  
  }
  
  .hour-txt4 {
    position: relative;
    top: -240px;
    left: 1100px;
    font-weight: lighter;
  }
  
  
  .hour-header {
    position: relative;
    top: -210px;
  }
  
  .copyright1 {
    position: relative;
    bottom: -300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  .copyright2 {
    position: relative;
    left: 5rem;
    font-style: italic;
    bottom: -7rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
    font-size: medium;
  }
  
  .ten2 {
    position: relative;
    left: 120px;
    bottom: -40px;
    font-weight: bolder;
  }
  
  .happy {
    position: relative;
    left: 100px;
    bottom: -40px;
    font-size: medium;
  }
  
  .ten3 {
    position: relative;
    left: 120px;
    bottom: -40px;
    font-weight: bolder;
  }
  
  .project-txt {
    position: relative;
    left: 85px;
    bottom: -40px;
    font-weight: bolder;
  }
  
  .trained {
    position: relative;
    left: 110px;
    bottom: -40px;
    font-weight: bolder;
  }
    
  .sitemap {
    position: relative;
    left: 80rem;
    bottom:  -6rem;
    font-style: italic;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .ten {
    position: relative;
    left: 120px;
    bottom: -40px;
    font-weight: bolder;
  }
  
  .year {
    position: relative;
    left: 85px;
    bottom: -40px;
  } */

/* .ten4 {
    position: relative;
    left: 120px;
    bottom: -40px;
    font-weight: bolder;
  } */

/* .ten4 {
    left: 120px;
  }
   */

/* Responsive styles for medium screens */
/* @media screen and (max-width: 1199px) {
  .header1,
  .header2,
  .provide-txt,
  .provide-txt2,
  .service,
  .service-box, */
/* ... other styles ... */
/* .ten4 {
    left: 90px;
  }
  } */


/* Responsive Styles for medium screens */
/* @media (max-width: 1199px) {
    .header1, .header2, .provide-txt, .provide-txt2, .service, .service-box, .ten4 {
      left: 6vw;
    }
  } */

/* Responsive Styles for small screens */
/* @media (max-width: 767px) {
    .header1, .header2, .provide-txt, .provide-txt2, .service, .service-box, .ten4 {
      left: 4vw;
    }
  }  */