.navbarLogo {
  width: 150px;
  left: 200px;
  
}
body{
  border-width: 1in;
}
.navbar{
  /* position: fixed;
  overflow: hidden;
  background-color: white;
  width: 500px;
  height: 50px;
  left: 1000px; */
  position: relative; 
  

}
.navtabs{
  position: relative;
  left: 1000px;

}

.networkHeader{
  position: relative; left: 200px;
  top: -30px;
}
.home {
  color: white;
  margin-bottom: 200px;
  margin-top: 50px;
  padding-top: 30px;
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSGcQGxfPMN-9b5DQcgCdZDbic02mTeC5J3kkUqdgq5AAR4ckV7);

}

.header1 {
  position: relative;
  left: 100px;
}

.header2 {
  position: relative;
  left: 100px;
}

.provide-txt {

  position: relative;
  left: 100px;
  font-weight: bold;
  font-size: medium;
}

.provide-txt2 {
  position: relative;
  left: 100px;
  font-size: medium;
  font-weight: bold;

}


.service {

  width: 1100px;
  height: 200px;
  position: relative;
  left: 100px;
  top: 100px;
  background-color: white;
  border-radius: 10px;
  color: blue
}

.service-box {
  position: relative;
  background-color: black;
  width: 1430px;
  height: 800px;
  inline-size: auto;


}

.service-image1 {
  position: relative;
  left: 100px;
  top: -1250px;
  width: 400px;
  height: 250px;
  inline-size: auto;

}

.service-image2 {
  position: relative;
  left: 120px;
  top: -1250px;
  width: 400px;
  height: 250px;
  inline-size: auto;

}

.service-image3 {
  position: relative;
  left: 140px;
  top: -1250px;
  width: 400px;
  height: 250px;
  inline-size: auto;

}

.header-service {
  color: #084AF3;
  position: relative;
  bottom: -100px;
  left: 600px;
  inline-size: auto;
  
}


.sendbtn {
  position: relative;
  left: 510px;
  bottom: 45px;
  height: 40px;
  width: 150px;
  background-color: #0076FF;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: small;


}

.callUs {
  position: relative;
  bottom: -10px;
  left: 200px;
  background-color:#0076FF;
  color: white;
  width: 125px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
}

.aboutPic {
  position: relative;
  left: -250px;
  bottom: -200px;
  width: 350px;
}

.quicktxt {
  font-weight: bold;
  font-size: larger;
  margin-top: -10px;
  position: relative;
  bottom: -40px;
  left: 50px;
  color: #0076FF
}

.sendtxt {
  /* margin-top: 30px; */
  color: black;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  left: 50px;
  bottom: -30px;

}

.name {
  position: relative;
  left: 460px;
  width: 250px;
  height: 40px;
  top: -45px;

}

.email {
  position: relative;
  left: 470px;
  width: 250px;
  height: 40px;
  top: -45px;
}


.about {
  margin-bottom: 200px;
}

.aboutlogo {
  position: relative; right: -100px;
  width: 620px;
  height: 450px;
  
 
}

.aboutheader {
  margin-top: -430px;
  margin-left: 600px;
  
}

.about-text {

  word-wrap: break-word;
  position: relative;
  line-height: 25px;
  inline-size: 400px;
  position: relative; left: 200px;
  top: -30px;


}

.about-text2 {
  position: relative;
  word-wrap: break-word;
  line-height: 30px;
  width: 400px;
  left: 200px;
  top: -20px;
}

.about-text3 {
  line-height: 30px;
  position: relative;
  width: 500px;
  left: 200px;
  top: -50px;

}



.business {
  background-color: #0076FF;
  position: relative;
  bottom: 925px;
  left: 100px;
  width: 300px;
  height: 150px;
  color: white;
  flex-wrap: initial;
  flex-direction: initial;
  flex-wrap: initial;
  flex-direction: initial;
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}

.client {
  position: relative;
  left: 400px;
  bottom: 1095px;
  width: 300px;
  height: 150px;
  background-color: #F3F5F5;
  color: black;
  flex-wrap: initial;
  flex-direction: initial;
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);


}

.project {
  position: relative;
  bottom: 1265px;
  left: 700px;
  background-color: black;
  width: 300px;
  height: 150px;
  color: white;
  flex-wrap: initial;
  flex-direction: initial;
  flex-wrap: initial;
  flex-direction: initial;
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}

.staff {
  position: relative;
  left: 1000px;
  bottom: 1435px;
  background-color: #0076FF;
  width: 300px;
  height: 150px;
  color: white;
  flex-wrap: wrap;
  flex-wrap: initial;
  flex-direction: initial;
  --flex-direction: initial;
  --flex-wrap: initial;
  --justify-content: initial;
  --align-items: initial;
  --align-content: initial;
  --gap: initial;
  --flex-basis: initial;
  --flex-grow: initial;
  --flex-shrink: initial;
  --order: initial;
  --align-self: initial;
  flex-basis: var(--flex-basis);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  order: var(--order);
  align-self: var(--align-self);
}

.cable {
  color: #ffffff;
  position: relative;
  bottom: 1710px;
  left: 100px;
  word-wrap: break-word;
  inline-size: 400px;
  line-height: 2;
  font-size: medium;



}

.cable-header {
  color: #00ffff;
  position: relative;
  bottom: 1700px;
  left: 100px;
  font-weight: bolder;
}

.structure-header {
  color: #00ffff;
  position: relative;
  bottom: 1480px;
  left: 510px;
  font-weight: bolder;

}

.organize {
  line-height: 2;
  font-size: medium;
  inline-size: 400px;
  position: relative;
  bottom: 1490px;
  left: 510px;
  color: white;
}

.network-header {
  color: #00ffff;
  position: relative;
  bottom: 1260px;
  left: 920px;

}

.team {
  position: relative;
  bottom: 1270px;
  left: 920px;
  color: #ffffff;
  font-size: medium;
  inline-size: 400px;
  line-height: 2;
}

.testimonial {
  position: relative;
  bottom: 1610px;
  height: 170px;
  background-color: #F3F5F5;
}

.yelp {
  width: 75px;
  position: relative;
  left: 550px;
  top: -30px;

}

.review {
  color: #0076FF;
  position: relative;
  top: 60px;
  left: 50px;


}

.climbing {
  color: #0076FF;
  position: relative;
  top: 50px;
  left: 50px;
}

.yelp-text {
  position: relative;
  left: 650px;
  top: -120px;
  font-weight: bolder;
}

.yelp-text2 {
  position: relative;
  left: 650px;
  top: -130px;

}

.google {
  width: 75px;
  position: relative;
  left: 850px;
  top: -250px;

}

.google2 {
  position: relative;
  left: 1050px;
  top: -200px;
  font-weight: bolder;
}

.google3 {

  position: relative;
  left: 1050px;
  top: -265px;
}

.arrow {
  margin-top: 1px;
}

.quote {
  background-color: #4175FC;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 5px;

}

.messagebtn {
  justify-content: right;
  margin-left: 700px;

}

.messageInput {

  height: 250px;


}



.about1 {
  color:#0076FF;
  text-decoration: dotted;
  position: relative; left: 200px; top: -30px;
  font-size: larger;
  font-weight: bolder;
}

.systemHeader {
  position: relative; left: 200px;
  top: -50px;

}

.specialtiesHeader {
  color:#0076FF;
  position: relative; left: 200px;
  top: -30px;


}



.review-header {
  position: relative;
  left: 600px;
  top: -150px;
  font-weight: bolder;
}

.review-image1 {
  width: 100px;
  border-radius: 100px;
  position: relative;
  left: 150px;
  bottom: -25px;
}

.review-image2 {
  width: 100px;
  border-radius: 100px;
  position: relative;
  left: 150px;
  bottom: -25px;
}

.review-image3 {
  width: 100px;
  border-radius: 100px;
  position: relative;
  left: 150px;
  bottom: -25px;
}

.review1 {
  background-color: #F3F5F5;
  width: 400px;
  height: 500px;
  position: relative;
  left: 100px;
  top: -100px;

}

.review2 {
  position: relative;
  left: 520px;
  top: -600px;
  background-color: #F3F5F5;
  width: 400px;
  height: 500px;
}

.review3 {
  position: relative;
  left: 940px;
  top: -1100px;
  width: 400px;
  height: 500px;
  background-color: #F3F5F5;

}

.star {
  position: relative;
  left: 143px;
  bottom: -20px;
  color: #4175FC;


}

.star2 {
  position: relative;
  left: 143px;
  bottom: -20px;
  color: #4175FC;

}

.star3 {
  position: relative;
  left: 143px;
  bottom: -20px;
  color: #4175FC;

}

.review-header1 {
  position: relative;
  left: 150px;
  bottom: -15px;
  left: 165px;

}

.dl1 {
  position: relative;
  left: 185px;
  bottom: -20px;
  font-weight: bold;
  font-size: larger;
}

.review1-text {
  position: relative;
  bottom: -20px;
  left: 60px;
  line-height: 30px;
  inline-size: 1px;
  word-wrap: initial;
  width: 290px;

}


.dl2 {
  position: relative;
  left: 185px;
  bottom: -20px;
  font-weight: bold;
  font-size: larger;
}

.review-header2 {
  position: relative;
  left: 150px;
  bottom: -15px;
  left: 165px;
}

.review2-text {
  position: relative;
  bottom: -20px;
  left: 60px;
  line-height: 30px;
  inline-size: 1px;
  word-wrap: initial;
  width: 290px;

}

.dl3 {
  position: relative;
  left: 185px;
  bottom: -20px;
  font-weight: bold;
  font-size: larger;
}

.review-header3 {
  position: relative;
  left: 150px;
  bottom: -15px;
  left: 165px;
}

.review3-text {
  position: relative;
  bottom: -20px;
  left: 60px;
  line-height: 30px;
  inline-size: 1px;
  word-wrap: initial;
  width: 290px;

}


.contact {
  position: relative;
  bottom: 800px;
  background-color: #F3F5F5;
  font-weight: 700;
  width: 1450px;
  height: 900px;

}

.contact-header {
  position: relative;
  left: 400px;
  bottom: -70px;
}

.contact-subheader {
  position: relative;
  left: 350px;
  bottom: -70px;
  font-weight: normal;
}

.contact1-header {
  font-weight: lighter;
}

.contact2-header {
  font-weight: lighter;
}

.contact3-header {
  font-weight: lighter;
}

.contact4-header {
  font-weight: lighter;
}

.contact5-header {
  font-weight: lighter;
}

.contact1 {
  position: relative;
  left: 400px;
  bottom: -200px;
}

.firstname-input {
  width: 350px;
  height: 40px;
  font-weight: lighter;
}

.contact2 {
  position: relative;
  left: 770px;
  bottom: -92.5px;
}

.lastname-input {
  width: 350px;
  height: 40px;
  font-weight: lighter;
}

.email-input {
  width: 350px;
  height: 40px;
  font-weight: lighter;
}

.contact3 {
  position: relative;
  left: 400px;
  bottom: -100px;
}

.contact4 {
  position: relative;
  left: 770px;
  bottom: 7px;
}

.phone-input {
  width: 350px;
  height: 40px;
  font-weight: lighter;
}

.contact5 {
  position: relative;
  left: 650px;
  bottom: -10px;
}

.contact5-header {
  position: relative;
  left: -250px;

}

.message-input {
  position: relative;
  left: -250px;
  width: 720px;
  height: 120px;

}

.contactbtn {
  position: relative;
  left: 400px;
  bottom: -40px;
  background-color: #4175FC;
  color: #ffffff;
  width: 730px;
  height: 45px;
  border-radius: 5px;


}

.copyright {
  background-color: black;
  color: white;
  position: relative;
  bottom: -120px;
  height: 250px;
}

.visit-header {
  color: #00ffff;
  position: relative;
  left: 650px;
  bottom: 90px;
  font-weight: 400px;
}

.hour-header {
  color: #00ffff;
  position: relative;
  left: 1100px;
  top: -100px;
  font-weight: 400px;
}

.black-logo {
  width: 120px;
  height: 50px;
  position: relative;
  bottom: -50px;
  left: 100px;
}

.commercial-txt {
  position: relative;
  bottom: -70px;
  left: 100px;
  font-weight: lighter;
}

.commercial-txt2 {
  position: relative;
  bottom: -60px;
  left: 100px;
  font-weight: lighter;
}

.commercial-txt3 {
  position: relative;
  bottom: -50px;
  left: 100px;
  font-weight: lighter;
}

.address-txt {
  position: relative;
  left: 650px;
  top: -80px;
  font-weight: lighter;


}

.address-txt2 {
  position: relative;
  left: 650px;
  top: -90px;
  font-weight: lighter;
}

.address-txt3 {
  position: relative;
  left: 650px;
  top: -100px;
  font-weight: lighter;
}

.hour-txt {
  position: relative;
  top: -210px;
  left: 1100px;
  font-weight: lighter;
}

.hour-txt2 {
  position: relative;
  left: 1100px;
  top: -220px;
  font-weight: lighter;
}

.hour-txt3 {
  position: relative;
  top: -230px;
  left: 1100px;
  font-weight: lighter;

}

.hour-txt4 {
  position: relative;
  top: -240px;
  left: 1100px;
  font-weight: lighter;
}


.hour-header {
  position: relative;
  top: -210px;
}

.copyright1 {
  position: relative;
  bottom: -280px;
}

.copyright2 {
  position: relative;
  left: 100px;
  font-style: italic;
  top: -120px;
}

.sitemap {
  position: relative;
  left: 1300px;
  top: -150px;
  font-style: italic;
}

.ten {
  position: relative;
  left: 120px;
  bottom: -40px;
  font-weight: bolder;
}

.year {
  position: relative;
  left: 85px;
  bottom: -40px;
  font-size: medium;
}

.ten2 {
  position: relative;
  left: 120px;
  bottom: -40px;
  font-weight: bolder;
}

.happy {
  position: relative;
  left: 100px;
  bottom: -40px;
  font-size: medium;
}

.ten3 {
  position: relative;
  left: 120px;
  bottom: -40px;
  font-weight: bolder;
}

.project-txt {
  position: relative;
  left: 85px;
  bottom: -40px;
  font-weight: bolder;
}

.trained {
  position: relative;
  left: 110px;
  bottom: -40px;
  font-weight: bolder;
}

.ten4 {
  position: relative;
  left: 120px;
  bottom: -40px;
  font-weight: bolder;
}